body{/*去除边距*/
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none ;
    color :black
}
a:visited{
    color: black;
}
.main{
    width: 1550px;
    height: 1200px;
    /*background-color: #1d1f21;*/
    background: url("../img/bg/bg.jpg") no-repeat;
    background-size: 1550px 750px;
    background-attachment:fixed;/*背景图片固定不动*/

    overflow: hidden;
}
.left{/*左侧导航栏*/
    width: 300px;
    height: 750px;
    background-color: rgba(255,255,255,0);
    position: fixed;/*绝对定位*/
}
.logo{
    background: url("../img/head.jpg");
    background-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;/*头像圆形*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}/*设置头像logo，凝胶布局，居中*/

.GZ-button{/*关注按钮div盒子*/
    height: 25px;
}
.GZ-button button{/*关注按钮*/
    width: 100px;
    margin-left: 100px;
    border-radius: 10px;
    border:silver;
}
.FS-content{/*粉丝、浏览量等内容*/
    width: 300px;
    margin-left: 0;
    padding-left:15px ;
}
.FS-content li{
    display: inline-block;/*设置为水平*/
    height: 50px;
    width: 90px;
    margin: 0px;
    line-height: 50px;
    font-family: 'KaiTi';
    font-size: 15px;
    text-align: center;/*文字居中*/
}
.section{ /*定义相同模块，凝胶布局*/
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 50px;
    font-family: 'STKaiti';
    text-align: center;
}
.section:hover{
    width: 300px;
    background-color: silver;
}

.contact{/*其他社交平台账号*/
    height: 30px;
    width: 300px;
    margin-top: 30px;
}
.contact img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left:25px;
}
/************右侧*****************/
.right{
    width: 1220px;
    height: 1200px;
    margin-left: 300px;
    background-color: rgba(255,255,255,0.8);
    overflow: hidden;
    right: -20px;
    /*防止子div的margin影响父div*/
}